 body{
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
 }

    .master{
        background-color: chocolate;
        margin: 1em;
        padding: 1em;
        width: 100%;
    }
    .header {
        background-color: chocolate;
        margin: 1em;
        padding: 1em;
      }
        
        my-image{
            float: right;
        }

        h1 {
            float: left;
            
        }

        .clear {
          display: flex;
          margin: 0.5em;
          padding: 0.5em;
        }

    .athens-image {
        float: left;
        padding: 1em;
    }
    .clearfix {
        overflow: auto;
        zoom: 1;
    }
    
    
       table, th, tr, td {
           width: 50%;
           height: auto;
           margin-left: auto;
           margin-right: auto;
           border-style: double;
           padding: 1em;
       }
    li{
   
        font-size: x-small;
}
.places{
    display: flex;
     
}

    /*
    }
    @media(min-width:600px) {
        .places {
            background: chocolate;
            display: flex;
            flex-flow: row;
                
            }
        .main{
            float: inline-start;
        }
        .place {
           display: flex;
            flex-flow: row;
            }

    }